body {

}

header {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    display: inline-flex;
}

section {
    display: flex;
    justify-content: center;
    border: 4px, solid, black;
    padding: 4px;
    margin: 8px;
}

.circle {
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    justify-content: center;
    margin: auto;
    background-image:linear-gradient(yellow, gray);
    border: 2px, solid, black;
}

p {
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#content.input {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

input#input.text-input {
    min-width: 500px;
    min-height: 200px;
}

button {
    max-width: min-content;
}

footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.dark {
    background-color:#243447;
    height: 100vh;
    color: #bebebe;
    font-style: outline;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
  
.light {
    background-color: white;
    color: black;
    height: 100vh;
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(29, 128, 210);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
.row {
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.col {
    margin: 20px;
}

@media screen and (max-width: 1130px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }
}